@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* html{
    scroll-behavior: smooth;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: #1c1e53;
    transition: color 0.8s ease;
    opacity: 0.8;
    
}

a:hover{
    transition: ease-in;
    opacity: 1;
    color: #5e3bee ;
}

h5{
    font-size: 60px;
}

li{
    list-style: none;
}
nav{
    background-color: #ffffff;
    position: sticky;
    top: 0;
    padding: 0 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 05px 5px 80px rgba(255, 255, 255, 0.936);
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    width: 40px;
    height: 40px;
    transition: ease-in-out 2s;
    box-shadow: 2px red;
}
nav ul{
    display: flex;
    gap: 40px;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}

nav button{
    color: #1c1e53;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 1px solid #1c1e53;
    cursor: pointer;
    
}

nav button:hover{
    background-color: #5e3bee;
    border-color: #5e3bee;
    color: #fff;
}

.home{
    background-color: #5698be;
    padding: 5rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.home .left{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.home .left h3{
    margin-top: 10px;
    font-weight: bold;
    font-size: 46px;
}

.home .left h3 span{
    color: #5e3bee;
}

.home .left p{
    color: #1c1e53;
    font-size: 22px;
    margin-top: 20px;
}

.home .left button{
    margin-top: 40px;
    color: #fff;
    cursor: pointer;
    background-color:transparent;
    padding: 14px 24px;
    border: 1px solid ;
    border-radius: 5px;
}
.home .left button:hover{
    background-color: #3bee74;
    border-color: #5e3bee;
    color: #fff;
}

.home .right img{
    width: 500px;
    cursor: pointer;
    
}
.about{
    padding: 110px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.about .left{
    background-color: #deebee;
    border-radius: 10px 10px 0 0;
}

.about .left img{
    width: 440px;
}

.about .right p{
    font-size: 16px;
    margin-top: 30px;
}

.skills{
    padding:  85px ;
}

.skills h3,
.about .right h3,
.portfolio .header h3,
.feedback h3{
    font-size: 40px;
    margin-top: 20px;
}

.skills .skill-items{
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skill-items .item{
    background-color: #deebee;
    width: 25%;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills .skill-items .item:hover{
    border-color: #5e3bee;
}

.skills .skill-items .item .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 46px;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon i{
    font-size: 26px;
    color: #006b6a;
}

.skills .skill-items .item h4,
.portfolio .portfo-items .item .info h4{
    font-size: 18px;
}

.skills .skill-items .item p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #1c1e53;
}

.portfolio{
    background-color: #deebee;
    padding: 110px 85px;
}

.portfolio .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio .header button{
    background-color: #151313;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border: none;
    border-radius: 10px;
}

.portfolio .header button i{
    font-size: 26px;
}

.portfolio .portfo-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item{
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover{
    border-color: #5e3bee;
}

.portfolio .portfo-items .item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p{
    font-size: 13px;
}

.portfolio .portfo-items .item .info a{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #5e3bee;
}

.portfolio .portfo-items .item .info a i{
    margin-left: 2px;
    font-size: 16px;
}
.contact{
    margin: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.contact .item{
    background: #292b2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    padding: 0 30px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .item:hover{
    border-color: #ffb742;
}

.contact .item .icon{
    width: 46px;
    height: 46px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.contact .item:hover .icon{
    background-color: #ffb742;
}

.contact .item .icon i{
    font-size: 30px;
}

.contact .item .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .item .info h3{
    color: #ffb742;
    font-size: 28px;
}

.contact .item .info p{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.contact .item > i{
    color: #fff;
    font-size: 30px;
    transition: color 0.3s ease;
}

.contact .item:hover > i{
    color: #ffb742;
}
footer{
    background-color: #deebee;
    padding: 85px;
    display: flex;
    flex-direction: column;
}
footer ul{
    display: flex;
    gap: 40px;
    text-decoration: none;
    list-style: none;
    text-decoration: none;
}

footer .top,
footer .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .top .social-links{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

footer .separator{
    width: 100%;
    height: 1px;
    background-color: #282938;
    margin: 30px 0 20px;
}

footer .bottom p{
    font-size: 12px;
}

footer .bottom .links a{
    font-size: 12px;
    margin-left: 14px;
}

footer .logo a{
    margin-left: 8px;
    font-weight: bold;
    font-size: 20px;
}
footer .logo img{
    width: 40px;
    height: 40px;
}

footer .bottom{
    flex-direction: column-reverse;
    gap: 14px;
}


